<h1>Listando Vers천es</h1>
<div class="table-title">
  <table class="table-fill">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Vers찾o</th>
        <th>C처digo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @releases.each do |release| %>
        <tr>
          <td><%= release.name %></td>
          <td><%= release.version %></td>
          <td><%= release.code %></td>
          <td><%= link_to 'Show', release_path(release) %></td>
          <td><%= link_to 'Destroy', release_path(release),
              method: :delete,
              data: { confirm: 'Tem certeza que deseja excluir essa vers찾o?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="links">
    <%= link_to 'Metricas', metrics_path %>
  </div>
  <div class="links">
    <%= link_to 'Novo', new_release_path %>
  </div>
</div>
